.banner-nav {
    width: 260px;
    height: 100%;

    line-height: 35px;
    font-size: 13px;
    font-weight: 600 !important;
    color: rgba(0, 0, 0, 0.705);
    font-family: "Montserrat", sans-serif;
}

.banner-nav__list {
    background-color: white;
    height: 100%;
    padding: 8px 16px 16px 16px;
}

.banner-nav__list-item {
    width: 228px;
    height: 40px;

    display: flex;
}